@import "tailwindcss";

@font-face {
    font-family: 'Proxima Nova';
    src: url('/src/assets/fonts/ProximaNova-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Proxima Nova';
    src: url('/src/assets/fonts/ProximaNova-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Proxima Nova';
    src: url('/src/assets/fonts/ProximaNova-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

  body {
    @apply font-sans;
  }
  
  